* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-"] {
    height: 150px;
    background-color: aqua;
    border-top: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-color: indigo;
    padding: 5px;
    position: relative;
}

p {
    position: absolute;
    bottom: 50%;
    left: 50%;
    font-size: 11px;
    transform: translate(-50%);
}

.nested-col {
    background-color: chartreuse;
    border: solid 1px;
    border-color: deeppink;
    height: 138px;
}