* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-"] {
    height: 150px;
    background-color: aqua;
    border-top: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-color: indigo;
    padding: 5px;
}

[class*="col-"] p {
    position: relative;
    top: 50%;
    /* padding: 0 8px; */
    transform: translateY(-50%);
    /* font-size: 15px; */
    text-align: center;
}

.nested-col {
    background-color: chartreuse;
    border: solid 1px;
    border-color: deeppink;
    height: 138px;
}